<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.fri_urnik" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FRI Urnik</name>
    <description>
        Spletni in mobilni urnik za FRI
    </description>
    <author email="info@example.com" href="https://github.com/mentos1386/fri-urnik">
        Ekipa FRI Urnik
    </author>
    <content src="cordova.html"/>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="*" />
    <engine name="android" spec="~5.1.1" />
</widget>
