div.card {
    margin: $small-margin 0;
}

div.cardText {
    padding-bottom: 0;
}

div.cardActions {
    justify-content: flex-end;
}

@media (min-width: $desktop-breakpoint) {
    div.card {
        margin: $large-margin 0;
    }
}